body{
    margin: 0;
}

section{
    text-align: center;
    height: 100vh;
   
}

div {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

.month{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    display: grid;
    grid-template-rows:80px;
}

ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    grid-template-rows: 90px;
    justify-content: center;
    
}

li{
    font-size: 1.Sch;
}

h2{
    margin-bottom: 4px;
    padding: 0;

}

.first-day{
    grid-column-start: var(--first-day-start);
    
}

.day-name{
    background-color: #eee;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
   
}

button{
    background: #09f;
    border-radius: 100000px;
    border: 0;
    bottom: 32px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    padding: 16px;
    position: fixed;
    right: 32px;
    text-align: center;
    width: 50px;
}

#up{
    bottom: 100px;
}
    
